[Unit]
Description=Executado ao Desligar e Reiniciar
Conflicts=reboot.target

[Service]
Type=oneshot
User=root
RemainAfterExit=true
ExecStop=/usr/lampada-proinfo-ctl/projetor-off

[Install]
WantedBy=multi-user.target
