Package:lampada-projetor-proinfo
Version: 0.1
Priority:
Architecture: all
Essential:
Depends:gdebi
Pre-depends:
Suggests:
Installed-Size:
Maintainer: Vinícius O. Queiroz
Conflicts:
Replaces:
Provides:
Description: Patch para que projetores Proinfo liguem e desliguem automaticamente. Compatível com Epson (72/2013) e Benq (42/2010)
