[Unit]
Description=Shutdown projector lampada
Conflicts=reboot.target

[Service]
Type=oneshot
User=root
RemainAfterExit=true
ExecStop=/usr/projector-lamp -off

[Install]
WantedBy=multi-user.target
